.container {
    position: relative;
}

.image {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.items__container {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: -5%;
    right: 5%;
}

.item {
    height: 466px;
    width: auto;
}

.text__container {
    position: absolute;
    top: 49%;
    left: 15%;

    h1 {
        font-size: 40px;
        font-weight: 500;
    }

    .link {
        cursor: pointer;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
    }

    h1, .link {
        color: #f3f3f3
    }
}

@media screen and (max-width: 375px) {
    .items__container {
        gap: 10px;
    }

    .item {
        height: 160px;
        width: auto;
    }

    .text__container {
        top: 43%;
        left: 10%;
    
        h1 {
            font-size: 18px;
        }
    
        .link {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
    .items__container {
        gap: 10px;
    }

    .item {
        height: 180px;
        width: auto;
    }

    .text__container {
        top: 43%;
        left: 10%;
    
        h1 {
            font-size: 18px;
        }
    
        .link {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    .items__container {
        gap: 20px;
    }

    .item {
        height: 280px;
        width: auto;
    }

    .text__container {
        top: 49%;
        left: 10%;
    
        h1 {
            font-size: 22px;
        }
    
        .link {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .items__container {
        gap: 20px;
    }

    .item {
        height: 380px;
        width: auto;
    }

    .text__container {
        top: 49%;
        left: 10%;
    
        h1 {
            font-size: 30px;
        }
    
        .link {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}