.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
}

.title {
    font-size: 32px;
    font-weight: 550;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    background-color: #f2f4f5;
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        gap: 30px;
        margin-top: 10px;
        flex-direction: column-reverse;
    }

    .container {
        height: 300px;
    }

    .title {
        font-size: 20px;
    }

    .image {
        width: 110px;
        height: auto;
        margin-bottom: 30px;
    }
}