.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: flex-start;
    max-width: 1180px;
    width: 100%;
    padding: 0 20px;
}

.link {
    color: #070707;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

.text {
    color: #A52C21;
    font-weight: 300;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 350px;
        margin-bottom: 20px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .link,
    .text {
        font-size: 16px;
    }

    .text {
        color: #A52C21;
    }
}