.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 300px;
}

.title {
    font-size: 40px;
    font-weight: 500;
    color: #070707;
}

.form {
    max-width: 1180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.input__block {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-size: 20px;
        font-weight: 500;
        color: #070707;
    }

    input {
        min-width: 560px;
        height: 50px;
        color: #070707;
        font-size: 20px;
        padding: 0 10px;
        border: none;
        border-radius: 10px;
        background-color: #f2f4f5;
    }
}

.textarea__block {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    label {
        font-size: 20px;
        font-weight: 500;
        color: #070707;
    }

    textarea {
        resize: none;
        height: 220px;
        width: calc(100% - 20px);
        color: #070707;
        padding: 10px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        background-color: #f2f4f5;
    }
}

.input__block:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: 100%;
}

.btn {
    width: 550px;
    height: 50px;
    margin-top: 30px;
    background-color: #A52C21;
    border: none;
    color: #fefefe;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .container {
        gap: 40px;
        margin-top: 150px;
    }

    .title {
        font-size: 20px;
    }

    .form {
        max-width: 330px;
    }

    .inputs__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .input__block {
        label {
            font-size: 16px;
        }
    
        input {
            min-width: 310px;
            height: 40px;
            font-size: 16px;
            border-radius: 5px;
        }
    }

    .textarea__block {    
        label {
            font-size: 16px;
        }
    
        textarea {
            font-size: 16px;
            border-radius: 5px;
        }
    }

    .btn {
        width: 330px;
        font-size: 16px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
    .container {
        gap: 40px;
        margin-top: 150px;
    }

    .title {
        font-size: 20px;
    }

    .form {
        max-width: 360px;
    }

    .inputs__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .input__block {
        label {
            font-size: 16px;
        }
    
        input {
            min-width: 340px;
            height: 40px;
            font-size: 16px;
            border-radius: 5px;
        }
    }

    .textarea__block {    
        label {
            font-size: 16px;
        }
    
        textarea {
            font-size: 16px;
            border-radius: 5px;
        }
    }

    .btn {
        width: 360px;
        font-size: 16px;
        border-radius: 5px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1000px) {
    .container {
        gap: 40px;
        margin-top: 150px;
    }

    .title {
        font-size: 30px;
    }

    .form {
        max-width: 560px;
    }

    .inputs__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .input__block {
        label {
            font-size: 18px;
        }
    
        input {
            min-width: 540px;
            height: 40px;
            font-size: 18px;
            border-radius: 5px;
        }
    }

    .textarea__block {    
        label {
            font-size: 18px;
        }
    
        textarea {
            font-size: 18px;
            border-radius: 5px;
        }
    }

    .btn {
        width: 560px;
        font-size: 18px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .title {
        font-size: 32px;
    }

    .form {
        max-width: 980px;
    }

    .input__block {    
        input {
            min-width: 455px;
            height: 50px;
            color: #070707;
            font-size: 20px;
            padding: 0 10px;
            border: none;
            border-radius: 10px;
            background-color: #f2f4f5;
        }
    }
}