.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5vw;
    position: absolute;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #fefefe;
    font-size: 20px;
    font-weight: 500;
}

.telephone__container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 30px;

    .telephone {
        color: #fefefe;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }

    .telephone__black {
        color: #070707;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }
}