.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5vw;
    position: absolute;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #fefefe;
    font-size: 20px;
    font-weight: 500;
}

.black__link {
    text-decoration: none;
    color: #070707;
    font-size: 20px;
    font-weight: 500;
}

.active {
    color: #a52c21;
}

.telephone__container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 30px;

    .telephone {
        color: #fefefe;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }

    .telephone__black {
        color: #070707;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px 3vw;
        position: absolute;
        width: 90%;
    }

    .list {
        gap: 30px;
    }

    .logo,
    .logo__image {
        width: 200px;
        height: auto;
    }

    .link,
    .black__link {
        display: none;
    }

    .telephone__container {
        .telephone,
        .telephone__black {
            font-size: 16px;
        }
    }

    .icon {
        height: 18px;
        width: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .logo,
    .logo__image {
        width: 220px;
        height: auto;
    }

    .list {
        gap: 20px;
    }

    .link,
    .black__link {
        font-size: 16px;
    }

    .telephone__container {
        .telephone,
        .telephone__black {
            font-size: 16px;
        }
    }

    .icon {
        height: 18px;
        width: auto;
    }
}