.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5vw;
    position: absolute;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #fefefe;
    font-size: 20px;
}