.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 90px;
    margin-top: 200px;
    background-color: #f2f4f5;
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 100px;
    }
}