.container {
    height: 300px;
    width: 300px;
    background-color: #f2f4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 40px;
}

.image__container {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.image {
    max-height: 180px;
    height: auto;
    max-width: 320px;
}

.long__image {
    width: auto;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 110%;

    h6 {
        align-self: flex-start;
        font-size: 20px;
        font-weight: 500;
        color: #070707;
    }

    p {
        font-size: 20px;
        color: #A52C21;
        font-weight: 600;
    }
}

.description {
    align-self: flex-start;
    color: #070707;
    font-weight: 300;
    margin-left: -15px;
    width: 110%;
}

.btn {
    width: 340px;
    height: 44px;
    background-color: #fefefe;
    color: #707071;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.mobile__link {
    text-decoration: none;
}

@media screen and (max-width: 730px) {
    .container {
        height: 220px;
        width: 160px;
        border-radius: 10px;
        padding: 10px;
    }

    .image__container {
        height: 120px;
        justify-content: center;
    }
    
    .image {
        max-height: 110px;
        height: auto;
        max-width: 155px;
    }
    
    .long__image {
        width: auto;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    
        h6 {
            align-self: flex-start;
            font-size: 16px;
            font-weight: 500;
            color: #070707;
        }
    
        p {
            font-size: 16px;
            color: #A52C21;
            font-weight: 600;
        }
    }

    .description {
        font-size: 14px;
        width: 100%;
        margin-left: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        display: none;
    }
}